body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1.5rem;
}

h1{
    color: plum;
    margin-left: 40px;
}

.container{
    max-width: 500px;
    margin: 0 auto;
}

label{
    display: block;
    margin-top: 10px;
    color: purple;
}

input{
    width: 50%;
    padding: 5px;
    margin-top: 15px;
    border-radius: 6px;
    border: 1px solid rgb(216, 80, 216);
}



button{
    margin-top: 15px;
    padding: 5px;
    border-radius: 15px;
    width: 20%;
    color: white;
    background-color: plum;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: rgb(84, 39, 116);
}