<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
    <main class="container">
        <h1>Cadastre-se</h1>
        <form id="cadForm" method="post" action="/submit">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome"  required>

            <label for="email">E-mail:</label>
            <input type="email" name="email" id="email" required>

            <label for="cpf">CPF:</label>
            <input type="text" name="cpf" id="cpf" pattern="^\d{3}\.?\d{3}\.?\d{3}-?\d{2}$" placeholder="Ex.: 12345678900" required>

            <label for="senha">Senha:</label>
            <input type="password" name="senha" id="senha" required>

            <button type="submit">Cadastrar</button>

        </form>

    </main>
<script src="/static/js/scripts.js"></script>
</body>
</html>